* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, 
body {
  background-color: #1b1b32;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  font-family: Lato, sans-serif;
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.react-logo {
  height: 100px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

h1 {
  color: #fff;
  font-size: 35px;
  margin-bottom: 20px;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
